@model WebAppTb01Lab1_Greselle.Models.Automovel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhe</h2>

<div>
    <h4>Automovel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Datacadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datacadastro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AutomovelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
