@model IEnumerable<WebAppTb01Lab1_Greselle.Models.Automovel>

@{
    ViewData["Title"] = "Index";
}

<h2>PRINCIPAL</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disponivel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Datacadastro)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datacadastro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutomovelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AutomovelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AutomovelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
